<div style="padding: 20px;max-height: 80vh;">
  <p class="subtitle" style="text-align: center">Editar Variante</p>

  <form [formGroup]="form">
    <div style="height: 20px"></div>
    <div style="display: flex; justify-content: center">
      <div class="photo" (click)="cargarFoto()">
        @if(form.controls["foto"].value){
        <img
          class="cover"
          [src]="form.controls['foto'].value | fileView"
          alt=""
        />
        }
        <mat-icon class="icon">image</mat-icon>
      </div>
    </div>
    <div style="height: 20px"></div>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>marca</mat-label>
      <input matInput type="text" formControlName="marca" placeholder="Calox" />
    </mat-form-field>

    <div style="display: flex; gap: 20px">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>presentacion</mat-label>
        <input
          matInput
          type="text"
          formControlName="presentacion"
          placeholder="10 mg"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Numero de tabletas</mat-label>
        <input
          matInput
          type="text"
          formControlName="numero_tabletas"
          placeholder="30"
        />
      </mat-form-field>
    </div>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>descripcion</mat-label>
      <textarea
        matInput
        type="text"
        formControlName="descripcion"
        placeholder="Breve descripcion.."
      ></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Documento Requerido</mat-label>
      <input
        matInput
        type="text"
        formControlName="documento_requerido"
        placeholder="Documento..."
      />
    </mat-form-field>
    <mat-checkbox formControlName="importado">
      Producto importado
    </mat-checkbox>

    <div
      style="
        text-align: center;
        padding: 20px;
        display: flex;
        gap: 20px;
        justify-content: center;
      "
    >
      <button mat-stroked-button mat-dialog-close>Descartar</button>
      <button mat-flat-button [disabled]="form.invalid" (click)="edit()">
        Guardar cambios
      </button>
    </div>
  </form>
</div>
