<div>
  <h2 class="h2Styled" style="text-align: center">
    Transacciones pendientes libros
  </h2>
  <div style="padding: 20px">
    <div class="mat-elevation-z1">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">
        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

        <!-- Name Column -->
        <ng-container matColumnDef="book">
          <th mat-header-cell *matHeaderCellDef>Libro</th>
          <td mat-cell *matCellDef="let element">
            {{ element.userBook.book.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef>Usuario</th>
          <td mat-cell *matCellDef="let element">
            {{ element.userBook.user.email }}
          </td>
        </ng-container>

        <ng-container matColumnDef="bank">
          <th mat-header-cell *matHeaderCellDef>Banco</th>
          <td mat-cell *matCellDef="let element">
            {{ element.bank.bank }}
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">
            {{ element.status | status_postulation }}
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Fecha de registro</th>
          <td mat-cell *matCellDef="let element">
            {{ element.createdAt | date : "dd/MM/yyy hh:mm" }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef>opciones</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon
              style="cursor: pointer"
              matTooltip="Ver transacción"
              fontIcon="visibility"
              (click)="open(element)"
            ></mat-icon>
          </td>
        </ng-container>

        <!-- Symbol Column -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        
    
      </table>
      @if( this.dataSource.data.length == 0){
        <div style="text-align: center; padding: 20px">
          No hay transaccciones pendientes
        </div>
        }
    </div>
  </div>
</div>
