<div class="content">
  <div style="display: flex; gap: 20px">
    <div>
      <img class="cover" [src]="book.cover | fileView" alt="" />
    </div>
    <div style="padding: 16px; display: flex; flex-direction: column">
      <p class="name">{{ book.name }}</p>
      <p class="author">{{ book.author }} - {{ book.categorie.name }}</p>

      <div style="flex: auto"></div>
      <button mat-flat-button (click)="buy()">
        Comprar {{ book.price }} BSD
      </button>
    </div>
  </div>
  <div class="description">
    {{ book.description }}
  </div>
</div>
