@use "variables" as v;

.medicamentoNombre {
  font-size: 22px;
  font-weight: bold;
}

.medicamento {
  border-bottom: solid 1px;
  border-bottom-color: v.$main-color;
  margin-bottom: 20px;
}
.medicamentosContenido {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.variante {
  max-width: 200px;
  position: relative;
  .menu {
    position: absolute;
    cursor: pointer;
    right: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.226);
    border-radius: 100%;
  }
  .image {
    width: 100%;
    border-radius: 20px;
    height: 120px;
    object-fit: cover;
  }
  .name {
    color: v.$main-color;
    font-size: 16px;
    font-weight: 500;
  }
}
