<div>
  <p class="subtitle">Metricas</p>
  @if(metrics){

  <div style="height: 20px"></div>
  <div
    style="
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: space-evenly;
    "
  >
    <mat-card class="metricCard1">
      <mat-card-content>
        <p class="title">Clientes Registrados</p>
        <p class="number">{{ metrics.clientes }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="metricCard2">
      <mat-card-content>
        <p class="title">Medicamentos Registrados</p>
        <p class="number">{{ metrics.medicamentos }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="metricCard1">
      <mat-card-content>
        <p class="title">Variantes Registradas</p>
        <p class="number">{{ metrics.variantes }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="metricCard2">
      <mat-card-content>
        <p class="title">Compras Registradas</p>
        <p class="number">{{ metrics.compras }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div style="height: 20px"></div>
  <div style="display: flex">
    <div style="flex: auto;">
      <p class="subtitle">Medicamento más vendido por principio activo</p>
      <ol>
        @for (data of metrics.medicamentoMasVendido; track data.principioActivo) {
        <li style="font-size: 20px; font-weight: 500; margin-bottom: 10px">
          {{ data.principioActivo }} x {{ data.cantidadTotal }} ventas
        </li>
        }
      </ol>
    </div>
    <div style="flex: auto;">
      <p class="subtitle">Usuarios que más compran</p>
      <ol>
        @for (data of metrics.compradores; track data._id) {
        <li style="font-size: 20px; font-weight: 500; margin-bottom: 10px">
          {{ data.nombre }}, CI {{ data.cedula }} x
          {{ data.totalCompras }} compras
        </li>
        }
      </ol>
    </div>
  </div>
  <div style="height: 20px"></div>
  <p class="subtitle">Total de medicamentos vendidos al mes</p>
  <div style="display: flex; gap: 10px; align-items: center">
    <button (click)="next(-1)" mat-icon-button>
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <p style="margin: 0">{{ fecha | monthYear }}</p>

    <button (click)="next(1)" mat-icon-button>
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
  <div>
    @if(metricsMonth){
      
    }
  </div>

  }
</div>
