.metricCard2 {
  background: rgba(222, 240, 252, 1);
  min-width: 300px;
  .title {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }
  .number {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
  }
}
.metricCard1 {
  background: rgba(222, 227, 252, 1);
  min-width: 300px;
  .title {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }
  .number {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
  }
}
