<div style="padding: 40px 20px">
  <p class="modal-title">Quiero ser referente</p>

  <div style="padding: 20px">
    <form [formGroup]="form" (ngSubmit)="add()">
      <p>Debes seleccionar una categoria</p>
      <mat-form-field>
        <mat-label>Categoria </mat-label>
        <mat-select formControlName="category">
          @for (categorie of categories; track categorie) {
          <mat-option [value]="categorie._id">{{ categorie.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Mensaje </mat-label>
        <textarea  cdkTextareaAutosize  matInput formControlName="message" type="text" ></textarea>
        <mat-error *ngIf="form.get('message')?.invalid">
          Debes dejar un mensaje para tu postulación
        </mat-error>
      </mat-form-field>
    </form>
    <div
      style="
        text-align: center;
        gap: 20px;
        display: flex;
        justify-content: center;
      "
    >
      <button mat-button color="accent" mat-dialog-close>Cancelar</button>
      <button mat-button [disabled]="form.invalid" (click)="add()">
        Agregar
      </button>
    </div>
  </div>
</div>
