.content {
    padding: 32px;
  
    .cover {
      width: 200px;
      height: 250px;
      object-fit: cover;
      border-radius: 20px;
    }
    .price {
      color: rgb(32, 146, 32);
  
      font-weight: 600;
    }
  
    .name {
      font-size: 26px !important;
      text-align: left !important;
      font-weight: 500 !important;
      color: #005cbb !important;
      font-family: "Roboto" !important;
      margin-bottom: 6px;
    }
    .categorie {
      font-size: 12px;
      color: gray;
    }
    .author {
   
      font-size: 12px;
      color: gray;
    }
    .description {
      font-size: 16px;
      color: gray;
      margin-top: 5px;
    }
  }
  